ReferenceID = 0;
SaveLocation = esther.txt;

FieldNameAliases:
date = date;
comp = completed;
pr = priority;
d = date;
pri = priority;
dn = completed;
completed = completed;
priority = priority;
cp = completed;
done = completed;
n = name;
dt = date;
p = priority;
tName = name;
name = name;
taskName = name;
id = id;
prio = priority;
complete = completed;
nm = name;
