ReferenceID = 8;
SaveLocation = esther.txt;

FieldNameAliases:
date = date;
comp = completed;
pr = priority;
d = date;
pri = priority;
dn = completed;
completed = completed;
priority = priority;
cp = completed;
done = completed;
n = taskName;
dt = date;
p = priority;
tName = taskName;
name = taskName;
taskName = taskName;
id = taskID;
prio = priority;
complete = completed;
taskid = taskID;
nm = taskName;
